@import (inline) "bootstrap.css";

body {
  min-width:480px;
}

/* disable progress bar animations!! */
.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

/* overwrite bootstrap form control border radius */
.form-control {
  border-radius:0px;
}

.logo {
  font-family:monospace;
}

#action-form {
  padding-bottom:20px;
}

.main-content {
  background-color:rgba(0, 0, 0, .45);
}

body {
  background-image:data-uri("../img/gun_metal.png");
}

.form-box {
  min-width:250px;
  margin-top:25px;
}

.centered-button-group {
  text-align:center;

  a {
    margin:10px;
  }
}

.footer {
  text-align:center;
}

.inline-code {
  display:inline-block;
  padding-left: 3px;
  padding-right: 3px;
  background-color: white;
  color: black;
  font-weight: normal;
  font-family: monospace;
  border-radius: 3px;
}

.ready-report {
  h5 {
    text-align:center;
  }
  border-style:solid;
  border-color:black;
  border-width:2px;
  border-radius:15px;
  padding:10px;
}