@import "common";

body {
  min-width:767;
  /* break at 768 */
}

.ad-container {
  padding:10px;
  text-align:center;
}

.ad {
  background-color:rgba(0, 0, 255, 0.5);
  display:inline-block;
}

.ad-medium-rectangle {
  width:300px;
  height:250px;
}

.ad-vertical-banner {
  width:120px;
  height:240px;
}

.ad-banner {
  width:468px;
  height:60px;
}

.about-copy {
  padding-left:25px;
  color:@background-color;
  font-family:monospace;
}
