@import "common";

body {
  /* min ad 728 + 10 padding */
  min-width:748;
}

.ad-container {
  padding:10px;
}

.ad-medium-rectangle {
  background-color:rgba(0,0,255,.5);
  width:300px;
  height:250px;
}

.ad-wide-skyscraper {
  background-color:rgba(0,0,255,.5);
  width:160px;
  height:600px;
}

.ad-leaderboard {
  background-color:rgba(0,0,255,.5);
  width:728px;
  height:90px;
}

.about-copy {
  padding-left:25px;
  color:@background-color;
  font-family:monospace;
}
