<div class="row div-slide">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">

    <div class="about-copy">
      <h2>Easily encrypt any file</h2>
      <p class="about-text">
        Add a password to your file using the box to the right.
        The file never leaves your computer! The result is a web
        page that you can send to friends and share online, that contains
        your password-protected file as well as everything necessary to 
        decrypt it. All you have to do is enter your password again!
      </p>

      <div class="learn-more ppmf-nav-link">
        <a id="learn-more-link" href="/faq">Learn More &raquo;</a>
      </div>
  
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
    <div class="form-box well">
      <div>
        <form id="action-form">

          <!-- hidden file select -->
          <input id="file-select" type="file" style="display:none;" />

          <p>
            <label for="file-select-button">Pick a file:</label>
            <span style="display:inline-block;">
              <input class="btn btn-info btn-sm" id="file-select-button" type="button" value="browse" />
              <input id="file-select-display" type="text" placeholder="None Chosen" />
            </span>
          </p>

          <p>
            <label for="password">Pick a password:</label>
            <input id="password" type="password"/>
          </p>

          <button type="submit" id="action-form-submit" class="btn btn-warning btn-block">Encrypt</button>

        </form>
      </div>


      <div id="aux-box">
        <div class="progress" style="display:none;">
          <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;">
          </div>
        </div>

        <noscript>
          <div id="error-box" class="alert alert-danger" style="">
            This site uses Javascript to password protect your file, so it must be enabled in your browser.
          </div>
        </noscript>

        <div id="error-box" class="alert alert-danger" style="display:none;"></div>
        <div id="ready-box" class="alert alert-success" style="display:none;">
          <h5>Your password-protected file is ready!</h5>
          <div class="centered-button-group">
            <a id="done-link" download class="btn btn-info">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
    <div class="ad-container">
      <div class="visible-md visible-lg">
        <div class="ad ad-medium-rectangle">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- PPMF - Large -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:300px;height:250px"
               data-ad-client="ca-pub-6780960482663141"
               data-ad-slot="9898725511"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
      <div class="visible-sm">
        <div class="ad ad-vertical-banner">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- PPMF - Medium -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:120px;height:240px"
               data-ad-client="ca-pub-6780960482663141"
               data-ad-slot="5328925117"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
      <div class="visible-xs">
        <div class="ad ad-banner">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- PPMF - Small -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:468px;height:60px"
               data-ad-client="ca-pub-6780960482663141"
               data-ad-slot="8282391512"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
  </div>


</div>