<html>
    <head>
    <title>Encrypted File</title>

    <script>
    {{ controllerJavascript }}
    </script>

    </head>

    <body onload="init()">

        <form id="decryptForm" style="visibility: hidden;">
            <input id="password" type="password">
            <input type="submit">
        </form>

        <div id="errorMessage"/>

        <div>
            <a id="fileLink" style="visibility: hidden;">file</a>
        </div>

        <div id="progressMeter">
          0%
        </div>

        <div>
            {# Literal here because it is double templated #}
            <pre id="ciphertext">{{ "{{ ciphertext }}" }}</pre>
        </div>

    </body>

    <script type="text/javascript">
        function init() {
          new DecryptController();
        }
    </script>

</html>