<!DOCTYPE html>

<html>
    <head>

    <meta name="viewport" content="width=480, initial-scale=.6666">

    <title>{{ "{{ filename }}" }} (Encrypted with PasswordProtectMyFile.com)</title>

    <style type="text/css">
    {{ include_file('build/decrypt.css') }}
    </style>

    <script>
    {{ include_file('build/decrypt_controller.js') }}
    </script>

    </head>

    <body onload="init()">

      <div style="padding:15px;">

        <!-- header -->
        <div class="row">
          <div class="col-xs-12">
            {# Literal here because it is double templated #}
            <h3 class="logo">{{ "{{ filename }}" }} (Encrypted with PasswordProtectMyFile.com)</h3>
          </div>
        </div>

        <div class="row main-content">
          <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="z-index:1">
            <div class="form-box well">
              <div id="loader">
                  <img src={{ data_uri('img/loader.gif') }}/>
              </div>
              <form id="action-form" class="form-inline" role="form" style="display: none;">
                  <p>
                    <label class="control-label" for="password">Enter Password:</label>
                    <input class="form-control" id="password" type="password">
                  </p>
                  <button id="action-form-submit" type="submit" class="btn btn-warning btn-block">Decrypt</button>
              </form>

              <div id="aux-box">
                <div class="progress" style="display:none;">
                  <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;">
                  </div>
                </div>

                <noscript>
                  <div id="error-box" class="alert alert-danger" style="margin-top:20px">
                    <p>
                      You don't have javascript enabled!
                      It's necessary to decrypt your file in the browser.
                    </p>

                    <p>
                      If you don't want to use javascript, there is a command-line tool available:
                      <a href="https://npmjs.org/package/ppmf">ppmf</a>
                    </p>

                  </div>
                </noscript>

                <div id="error-box" class="alert alert-danger" style="display: none;"></div>

                <div id="ready-box" class="alert alert-success" style="display: none;">
                  <h5>Your file is decrypted!</h5>

                  <div class="centered-button-group">
                    <a id="file-link" download class="btn btn-info" target="_blank">Download</a>
                  </div>

                </div>

              </div>

            </div>
          </div>

          <div class="ciphertext-block-wrapper">
            <div class="ciphertext-block">
                {# Literal here because it is double templated #}
                <div id="ciphertext">{{ "{{ ciphertext }}" }}</div>
            </div>
          </div>

        </div>

        <!-- footer -->
        <div class="row">
          <div class="col-xs-12">
            <div class="footer">
              <h6>Copyright Louis Sobel</h6>
            </div>
          </div>
        </div>

      </div>

    </body>

    <script type="text/javascript">
        function init() {
          new DecryptController();
        }
    </script>

</html>