<!DOCTYPE html>

<html>

<head>

  <meta name="viewport" content="width=480, initial-scale=.6666">

  <title>Password Protect My File</title>

  <style type="text/css">
{{ include_file('build/encrypt.css') }}
  </style>

  <script>
{{ include_file('build/encrypt_controller.js') }}
  </script>

</head>

<body onload="init()">

  <div style="padding:15px;">

    <!-- header -->
    <div class="row">
      <div class="col-xs-12">
        <h3 class="logo">PasswordProtectMyFile.com</h3>
      </div>
    </div>

    <div class="main-content">
      <div id="div-slide-wrapper" class="div-slide-wrapper">
        {% block div_slides %}
        {% endblock %}
        <div class="clearfix"></div>
      </div>
    </div>

    <!-- footer -->
    <div class="row">
      <div class="col-xs-12">
        <div class="footer">
          <h6>Copyright Louis Sobel</h6>
        </div>
      </div>
    </div>

  </div>

  <div id="decrypt-template" style="display:none;">
{{ include_file('pages/decrypt_template.html')|escape }}
  </div>

  <script type="text/javascript">
      function init() {
        new EncryptController();
      }
  </script>

  <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="8sz74373epx5ev1"></script>
</body>
</html>