<html>

<head>

  <style type="text/css">
{{ include_file('build/encrypt.css') }}
  </style>

  <script>
{{ include_file('build/encrypt_controller.js') }}
  </script>

</head>

<body onload="init()">

  <div style="padding:15px;">

    <!-- header -->
    <div class="row">
      <div class="col-xs-12">
        <h3 class="logo">PasswordProtectMyFile.com</h3>
      </div>
    </div>

    <div class="row main-content">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <div class="about-copy">
          <h2>Easily encrypt any file</h2>
          <p>
            Add a password to your file using the box to the right.
            The file never leaves your computer! The result is a web
            page that you can send to friends and share online, that contains
            your password-protected file as well as everything necessary to 
            decrypt it. All you have to do is enter your password again!
          </p>
          
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
        <div class="form-box well">
          <div>
            <form id="action-form">

              <!-- hidden file select -->
              <input id="file-select" type="file" style="display:none;" />

              <p>
                <label for="file-select-button">Pick a file:</label>
                <span style="display:inline-block;">
                  <input class="btn btn-info btn-sm" id="file-select-button" type="button" value="browse" />
                  <input id="file-select-display" type="text" placeholder="None Chosen" />
                </span>
              </p>

              <p>
                <label for="password">Pick a password:</label>
                <input id="password" type="password"/>
              </p>

              <button type="submit" class="btn btn-warning btn-block">Encrypt</button>

            </form>
          </div>


          <div id="aux-box">
            <div class="progress" style="display:none;">
              <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;">
              </div>
            </div>

            <div id="error-box" class="alert alert-danger" style="display:none;"></div>
            <div id="ready-box" class="alert alert-success" style="display:none;">
              <h5>Your password-protected file is ready!</h5>
              <div class="centered-button-group">
                <a id="done-link" download>
                  <button class="btn btn-info">Download</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
        <div class="ad-container">
          <div class="ad-medium-rectangle visible-md visible-lg">
          </div>
          <div class="ad-wide-skyscraper visible-sm">
          </div>
          <div class="ad-leaderboard visible-xs">
          </div>
        </div>
      </div>

    </div>

    <!-- footer -->
    <div class="row">
      <div class="col-xs-12">
        <div class="footer">
          <h6>Copyright Louis Sobel</h6>
        </div>
      </div>
    </div>

  </div>

  <div id="decrypt-template" style="display:none;">
{{ include_file('templates/decrypt.html')|escape }}
  </div>
  
  <script type="text/javascript">
      function init() {
        new EncryptController();
      }
  </script>

</body>
</html>