<!DOCTYPE html>

<html>

<head>

  <meta name="viewport" content="width=480, initial-scale=.6666">

  <title>Password Protect My File</title>

  <style type="text/css">
{{ include_file('build/encrypt.css') }}
  </style>

  <script>
{{ include_file('build/encrypt_controller.js') }}
  </script>

  <!-- GAC -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-47885085-1']);
    _gaq.push(['_setDomainName', 'passwordprotectmyfile.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>

<body onload="init()">

  <div style="padding:15px;">

    <!-- header -->
    <div class="row">
      <div class="col-xs-12">
        <h3 class="logo">PasswordProtectMyFile.com</h3>
      </div>
    </div>

    <div class="main-content">
      <div id="div-slide-wrapper" class="div-slide-wrapper">
        {% block div_slides %}
        {% endblock %}
        <div class="clearfix"></div>
      </div>
    </div>

    <!-- footer -->
    <div class="row">
      <div class="col-xs-12">
        <div class="footer">
          <h6>Copyright Louis Sobel | Revision {{ include_file('REVISION') }}</h6>
        </div>
      </div>
    </div>

  </div>

  <div id="decrypt-template" style="display:none;">
{{ include_file('pages/decrypt_template.html')|escape }}
  </div>

  <script type="text/javascript">
      function init() {
        new EncryptController();
      }
  </script>

  <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="8sz74373epx5ev1"></script>
</body>
</html>